/*----------- general page style */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.page_frame footer{
    margin-top: 3px;
}
.page_frame{
    width: 80%;
    margin: auto;
}
.std_margin{
    margin-top: 20px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
main .main_article{
    background-color: #E1D67A;

}
footer{
    background-color: #8801FE;
}
.articles_frame{
    background-color: #0186FF;
}
.float_container{
    padding: 10px 0;
}
.articles_title, .article1, .article2, .article3{
    background-color: #ABCFE7;
}
.article1 , .article2, .article3{
    float: left;
}
.article2{
    width: calc(50% - 20px);
    margin: 0 10px;
}
.article1, .article3{
    width: 25%;
}
/*----------- ////general page style */

/* header styles */
header #logo{
    width: 150px;
    border-right: 1px solid black;
    padding-right: 20px;
    margin-bottom: 30px;
    cursor:pointer;
}
header>ul .nav{
    display: inline-block;
    padding-right: 10px;
}
header>ul .nav a{
    text-transform: uppercase;
    text-decoration: none;
    cursor:pointer;
    color: black;
    font-weight: 200;
}
/*//// header styles */