/*----------- general page style */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
}
.page_frame footer{
    margin-top: 3px;
}
.page_frame{
    width: 80%;
    margin: auto;
}
.std_margin{
    margin-top: 20px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }
footer{
    background-color: #8801FE;
}
.articles_frame{
    background-color: #0186FF;
}
.float_container{
    padding: 10px 0;
}
.articles_title, .article1, .article2, .article3{
    background-color: #ABCFE7;
}
.article1 , .article2, .article3{
    float: left;
}
.article2{
    width: calc(50% - 20px);
    margin: 0 10px;
}
.article1, .article3{
    width: 25%;
}
/*----------- ////general page style */

/* header styles */
header #logo{
    width: 150px;
    border-right: 1px solid black;
    padding-right: 20px;
    margin-bottom: 30px;
    cursor:pointer;
}
header>ul .nav{
    display: inline-block;
    padding-right: 10px;
}
header>ul .nav a{
    text-transform: uppercase;
    text-decoration: none;
    cursor:pointer;
    color: black;
    font-weight: 200;
}
/*//// header styles */

/* main styles */
main .main_article{
    height: 430px;
    background-image: url("..//img/banner.jpg");
}
.background_rules{
    background-repeat: no-repeat;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
    background-position: 50% 50%;
}
.overlay::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color:rgba(0,0,0,0.2 );
}
.main_article>.text-position{
    color: white;
    position: absolute;
    z-index: 1;
    bottom: 50px;
    left: 50px;
    width: 400px;
    font-weight: 200;
}
.main_article>.text-position>h2{
    font-size: 2rem;
    font-weight: 300;
}
/* ////main styles */
